
body {
  font-family: 'Garamond', sans-serif; /* Change 'Arial' to your desired font family */
  color: #0a130e; /* Change the text color as needed */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  position: relative;
}

.header-title {
  background-color: #fff; /* Change the background color as needed */
  padding: 20px;
  text-align: center;
  position: relative; /* Add this to make the header a positioned parent */
}

/* Styles for the full-width image */
.header-img {
  position: absolute; /* Add this to position the image within the header */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

